<a href="https://colab.research.google.com/github/Ranjan4Kumar/Python-Projects/blob/main/Basic_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#write a program to convert dict into list

dict1= {'a':1, 'b':2, 'c':3}

type(dict1)

dict

In [ ]:
list1= print(list(dict1.items()))

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
list2= print(list(dict1.values()))

[1, 2, 3]

In [ ]:
list3 = print(list(dict1.keys()))

['a', 'b', 'c']

In [ ]:
# method-3 by using zip()
l_1 = ['a','b','c']
l_2 = [1,2,3]
dict_4 = dict(zip(l_1 , l_2))

In [ ]:
print(dict_4)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Navie method by using loop

res = {}
for key in l_1:
  for value in l_2:
    res[key] = value
    l_2.remove(value)
    break

In [ ]:
print('resultant dict is:' + str(res))

resultant dict is:{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# write a program to reverse a no.
i = int(input('Enter a valid no.'))
rev = 0
while(i>0):
  d = i%10
  rev = rev*10+ d
  i = i//10
print(rev)

Enter a valid no.321
123

In [ ]:
# write a program for a pallindrom no.
m =int(input('Enter the value'))
m_1 = m
rev = 0
while(m>0):
  d = m%10
  rev = rev*10 + d
  m = m//10

if rev == m_1:
  print('no. is pallindrom no.')
else:
  print('no is not pallindrom')

Enter the value321
no is not pallindrom

In [ ]:
# reverse a string
# by creating a function

def revstr(s):
  str = ""
  for i in s:
    str = i + str
  return str

In [ ]:
print(revstr('I am a boy'))

yob a ma I

In [ ]:
# Type-2 for reversing a string

def reverse(string):
  string = string[::-1]
  return string

In [ ]:
string = input('enter is my name')
print(reverse(string))

enter is my namegeekforgeeks
skeegrofkeeg

In [ ]:
# write a program for revsersing a natural no

n_no = int(input('enter natural nos'))
while n_no:
  n_no -=1
  print(n_no)

enter natural nos5
4
3
2
1
0

In [ ]:
# write a program for armstrong number
# what is armstrong no. a armstrong is a number is the sum of the each term with the cube of that number
# 123 = 1^3 + 2^3 + 3^3

x = int(input('ENTER THE VALUE TO CHECK '))
x_1 = x
sum = 0
order = len(str(x))

while(x>0):
  d = x%10
  sum = sum + d**order
  x = x//10

if (sum == x_1):
  print('No. entered is an aemstrong no.')
else:
  print('No. is not armstrong')

ENTER THE VALUE TO CHECK 153
No. entered is an aemstrong no.

In [ ]:
# write a program to find out fibonaaci series of a number

def fiboiter(n):
  fpre= 0
  fcrrt = 1
  for i in range(1,n):
    fprepre = fpre
    fpre = fcrrt
    fcrrt= fprepre+ fpre
  return fcrrt

In [ ]:
n = int(input('enter no'))
print(fiboiter(n))

enter no5
5

In [ ]:
# write a program to fid out the factorial of a number

v = int(input('Enter your number'))
fact = 1

if(v<0):
  print("factorila doen't exist")

elif(v == 0):
  print("factorila of 0 is always 1")

else:
  for i in range(1 , v+1):
    fact = fact*i

  print('{}! = {}'.format(v, fact))

Enter your number5
5! = 120

In [ ]:
# print 1 12 123 1234

k = int(input('enter the value'))
count = 0

for i in range(1,k+1):
  for j in range(1,i+1):
    print(j, end = '')
  print(end = ' ')

enter the value5
1 12 123 1234 12345

In [ ]:
# print seiies of numbers as 1 12 123 1234
n = int(input('Enter the nos whos series you want'))
for i in range(1, n+1):
  for j in range(1, i+1):
     print(j, end = "")
  print( end = " ")

Enter the nos whos series you want6
1 12 123 1234 12345 123456

In [ ]:
# write a programe for fibbonaci series

def fiboiter(u):
  pre = 0
  crrt = 1
  for i in range(1,u):
    prepre = pre
    pre = crrt
    crrt = prepre+pre
  return crrt

In [ ]:
u = int(input('Enter your number'))
print(fiboiter(u))

Enter your number6
8

In [ ]:
#write a programm to rev
n = int(input('Enter a number'))
rev = 0
while(n>0):
  d = n%10
  rev = rev*10 + d
  n = n//10
print(rev)

Enter a number153
351

In [ ]:
# write a program to find
#pallindrom no

n =int(input('Enter you no.'))
n_1 = n
rev = 0
while(n>0):
  d = n%10
  rev = rev*10+d
  n = n//10

if rev == n_1:
    print('no is pallindrom')
else:
  print('no is not a pallindrom')

Enter you no.121
no is pallindrom

In [ ]:
# write a program for finding armstrong number
n = int(input('Enter your no.'))
n_1 = n
order = len(str(n))
arm = 0
while(n>0):
  d = n%10
  arm = d**order+ arm
  n = n//10
if arm == n_1:
    print('no. is armstrong')
else:
    print('no. is not armstrong')

Enter your no.153
no. is armstrong

In [ ]:
# find factorial of a number

#
def fact(n):
  fact = 1
  for i in range(1, n+1):
    fact = fact*i
  print("{}! = {} is factorial of a number".format(n,fact))
  return fact

In [ ]:
n = int(input('Enter your number'))
print(fact(n))

Enter your number5
5! = 120 is factorial of a number
120

In [ ]:
import os
print(os.listdir("/"))

['bin', 'home', 'opt', 'sys', 'dev', 'tmp', 'srv', 'run', 'usr', 'boot', 'proc', 'lib', 'etc', 'media', 'sbin', 'lib64', 'root', 'mnt', 'var', '.dockerenv', 'tools', 'datalab', 'tensorflow-1.15.2', 'content', 'lib32', 'python-apt']

In [ ]:
# use of if __name__ = '__main__'
# CASE - 1
'''suppose we created a project file in a python IDE and we define some function in it and we also mentoine some other functions or print satement there
but we need to print only those statements which is written in the function . so for that we use (if__name__ = '__main__) so that in the next file where
 we are calling that function that doesn't give all the prints which i don't required'''

 # Example

def mostimportant():
  print('I am the lord king')

''' and we wrote something else also but we dont need that print statement so in that case we write this (if __name__ = '__main__') before that print
so that we cannot get those other print options
'''
#case - 2
''' suppose if we need that statement too we will simply define that print statement in a function and we call that function inside other file
so that we can choose according to our requirement'''

In [ ]:
## * args & **kwarg

def function_1(name, age, rollno):
  print("the name of the student is", name ,"and age is", age , "and roll no is", rollno)

In [ ]:
function_1('harry',22,33)

the name of the student is harry and age is 22 and roll no is 33

In [ ]:
# suppose one argument is missing then how we will find it
# so here *arg and **kwarg comes into light

def function_2(*args):
   print("Name of the student is", args[0], "Age of student is", args[1], "Roll no of the student is", args[2])

In [ ]:
# function_2('raj', 22, 44)

Name of the student is raj Age of student is 22 Roll no of the student is 44

In [ ]:
# args is type of tuple

# case - 2 when we don't have all arguments in that case we use this

#we already have a function we use that one here and we make some chages in the print statement.

In [ ]:
def function_2(*args):
  if (len(args)== 3):
    print("My name is", args[0], "My age is", args[1], "My roll no. is", args[2])

  else:
    print("My name is", args[0], "And my age is", args[1])

In [ ]:
function_2('harry',22)

My name is harry And my age is 22

In [ ]:
function_2('marry', 24, 352)

My name is marry My age is 24 My roll no. is 352

In [ ]:
## ** kwarg it will take the value with key value pair and it will give the result

#suppose we define a function
def printmarks(**kwargs):
  print(type(kwargs))
  for key, value in kwargs.items():
    print(key, value)

In [ ]:
dict_1 = {'harry': 100, 'marry':200, 'asu': 300}
printmarks(**dict_1)

<class 'dict'>
harry 100
marry 200
asu 300

In [ ]:
def fun_1(*args):
  for i in args.index[(args)]:
    print(i)

In [ ]:
t1 = ('ranjan', 44, 344,2.2)
fun_1(*t1)

TypeError: ignored

In [ ]:
# if we want to pass a normal argument, a *args , a **kwargs to any functiion then what we need to do is.
# we need to creat a function in which we can pass the argument
def master(normal, *args, **kwargs):
  print(normal)
  for i in args:
    print(i)
  for key, value in kwargs.items():
    print(key, value)

In [ ]:
l1 = ['ram', 'mohan', 'ritesh']
di1 = {'ashis': 100, 'navneet': 150, 'piyush': 175}

master('normal argument', *l1, **di1)

normal argument
ram
mohan
ritesh
ashis 100
navneet 150
piyush 175

In [ ]:
# In this way we can use *arg **kwarg & normal in a same squence it will give us the values in the same way.

In [ ]:
# TRY & EXCEPT
#exception handling method

try:
  open('this.txt')
except Exception as e:
  print(e)
print('my program is alive')

[Errno 2] No such file or directory: 'this.txt'
my program is alive

In [ ]:
''' what is happeing in above output you see that we are not getting errors in red colour code instead of we are getting normal print
that such file is not present in the directory

which means if we have codes after this line it will excecute our program works properly if we use try & Except block for writing code

This is the importance of using this try & Except block.'''

In [ ]:
# Multiple eception handling where we can hndle multiple exception cases and print as per our requirement
# Here we can use Finally: statement which excecutes even it goes to try or except block does't matter

try:
  file = open('this.txt')
except EOFError as e:
  print('eof error')
except IOError as e:
  print('we can handle this error')

finally:
  print('This will be printed irrespective of exception occurance')

we can handle this error
This will be printed irrespective of exception occurance

In [ ]:
# printing list using try and except method
l = ["harry","carry","jerry","stawberry"]

try:
  print(l[4])
except IndexError as e:
  print(len(l))
finally:
  print('we have only 4 items in our list')

4
we have only 4 items in our list

In [ ]:
#.    List and list functions

# It has only one arguments.list of items as per our requirement
l = ["harry","carry","jerry","stawberry"]
l.count('harry')

1

In [ ]:
i = 0
while i < len(l):
  print(l[i])
  i = i+1

harry
carry
jerry
stawberry

In [ ]:
for i in l:
  print(i)

harry
carry
jerry
stawberry

In [ ]:
for i in range(len(l)):
  print(l[i])

harry
carry
jerry
stawberry

In [ ]:
print (x for x in l)

<generator object <genexpr> at 0x7f520cd49ad0>

In [ ]:
# List comprehension
l1 = ["apple","banana", "lichi"]
newlist = []
for i in l1:
  if "a" in i:
    newlist.append(i)
print(newlist)

['apple', 'banana']

In [ ]:
# Above example in one line code

l1 = ["a","b","c","d"]
newlist = [i for i in l1 if "a" in i]
print(newlist)

['a']

In [ ]:
# for numbers you can do 
n1 = [1,2,3,4,5,6,7]
newlist = []
newlist = [i for i in n1 if i >=5]
print(newlist)

[5, 6, 7]

In [ ]:
newlist = [i for i in n1 if i!=5]
print(newlist)

[1, 2, 3, 4, 6, 7]

In [ ]:
n2 = [100,85,95,25,56,65]
# so we can reverse the number using reverse function
n2.reverse()
print(n2)

[65, 56, 25, 95, 85, 100]

In [ ]:
# But in the above sinerio we saw that the number is not sorted
# for gettig values in sorted and reverse way we need to do
n2.sort(reverse = True)
print(n2)

[100, 95, 85, 65, 56, 25]

In [ ]:
# There are two ways of copying the data of one list to another list
n2 = [100,85,95,25,56,65]
newn2 = n2.copy()
print(newn2)

[100, 85, 95, 25, 56, 65]

In [ ]:
# or we can also do it another way

newn3 = list(n2)
print(newn3)

[100, 85, 95, 25, 56, 65]

In [ ]:
# joining of a list by simply using "+" operator or by using append or extent method we can do that

l3 = ['a','b','c','d','e']
l4 = [1,2,3,4,5,6]
# here we have two lists and now we need to join both the lists we do
l5 = l3+l4
print(l5)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6]

In [ ]:
# 2nd method of adding two list
l3 = ['a','b','c']
l4 = [1,2,3]

for i in l4:
  l3.append(i)
print(l3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# 3rd way using extend function

l5 = ['a','b','c','d']
l6 = [1,2,3,4,5]

l5.extend(l6)
print(l5)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

In [ ]:
# Tuple method , by tuple method we can use tuple as a constructor

t1 = tuple(('apple','banana','gauva'))
print(type(t1))

<class 'tuple'>

In [ ]:
print(t1)

('apple', 'banana', 'gauva')

In [ ]:
t_1 = ("apple","banana","orange")
(green, yellow,red) = t_1
print(green)
print(yellow)
print(red)

apple
banana
orange

In [ ]:
t_2 = ("apple","banana","gauva","papaya","lichi")
(red,yellow,*green) = t_2
print(red)
print(yellow)
print(green)

apple
banana
['gauva', 'papaya', 'lichi']

In [ ]:
t_2 = ("apple","banana","gauva","papaya","lichi")
(red,*yellow,green) = t_2
print(red)
print(yellow)
print(green)

apple
['banana', 'gauva', 'papaya']
lichi

In [ ]:
t_1 = ('apple','banana','gauva','orange')
i = 0
while i < len(t_1):
  print(t_1[i])
  i = i+1

apple
banana
gauva
orange

In [ ]:
#          JOIN TWO TUPLES
t_1 = ('apple','banana','gauva','orange')
t_2 = (1,2,3,4)
t_3 = t_1 + t_2
print(t_3)

('apple', 'banana', 'gauva', 'orange', 1, 2, 3, 4)

In [ ]:
#        MULTIPLY TWO TUPLES
t_2 = (1,2,3,4)
t_4 = t_2*2
print(t_4)

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# Method of tuple
# count
t_4 = (1,1,1,11,1,2,2,2,2,22,3,3,3,33)
x = t_4.count(2)
print(x)

4

In [ ]:
x=1
y=2
s = x+y
print(s)

3

In [ ]:
set_1 = {1,2,3,4}
for x in set_1:
  print(x)

1
2
3
4

In [ ]:
print(1 in set_1)

True

In [ ]:
# ADD ITEMS to set
set_1 = {1,2,3,4,5}
set_1.add(100)
print(set_1) # when we use set_name with add method and put some value in paranthese then we add some value to the last in the set.

{1, 2, 3, 4, 5, 100}

In [ ]:
set_1.add("mohan")
print(set_1)

{1, 2, 3, 4, 5, 100, 'mohan'}

In [ ]:
set_2 = {"apple","banana","guava"}

set_1.update(set_2)
print(set_1)

{'apple', 1, 2, 3, 4, 5, 100, 'banana', 'mohan', 'guava'}

In [ ]:
list_2 = ["age","name","roll"]

set_2.update(list_2)
print(set_2) # It is printing in this way because of unordered collection of data in set

{'apple', 'roll', 'name', 'age', 'banana', 'guava'}

In [ ]:
# Remove function is used to remove the items present in the set

set_2.remove("oll")
print(set_2) # so here if we entered the value which doesn't exists it will throw an error

KeyError: ignored

In [ ]:
# we use discard() method instead of remove() it won't show any error either if there is no items found inside the set.

set_2 = {'apple', 'roll', 'name', 'age', 'banana', 'guava'}
set_2.discard("roll")
print(set_2)

{'apple', 'name', 'age', 'banana', 'guava'}

In [ ]:
set_2.discard("roll")
print(set_2)

{'apple', 'name', 'age', 'banana', 'guava'}

In [ ]:
# but if we use remove
set_2.remove("roll")
print(set_2) # it will show error

KeyError: ignored

In [ ]:
del set_2
print(set_2)

NameError: ignored

In [ ]:
set_2 = {'apple', 'roll', 'name', 'age', 'banana', 'guava'}
set_2.clear()
print(set_2)

set()

In [ ]:
# we saw that using clear we are deleting all the values present inside set.
# but by using del() we completely deleting the set.

In [ ]:
# LOOPS In sets
set_2 = {'apple', 'roll', 'name', 'age', 'banana', 'guava'}
for x in set_2:
  print(x)

apple
roll
name
age
banana
guava

In [ ]:
set_2 = {'apple', 'roll', 'name', 'age', 'banana', 'guava'}
set_3 = {1,2,3,4,5}
# using Union in a set

set_4 = set_2.union(set_3)
print(set_4)

{'apple', 1, 2, 3, 4, 5, 'roll', 'name', 'age', 'banana', 'guava'}

In [ ]:
set_1 = {100,200,300,400}

set_1.update(set_2)
print(set_1)

{'apple', 100, 200, 'roll', 300, 'name', 400, 'age', 'banana', 'guava'}

In [ ]:
# add
set_1.add('hey')
print(set_1)

{'apple', 100, 200, 'roll', 300, 'name', 400, 'age', 'banana', 'hey', 'guava'}

In [ ]:
set_1.clear()
print(set_1)

set()

In [ ]:
set_1 = {100,200,300,400}

In [ ]:
set_2 = {'apple', 'roll', 'name',400}
z = set_1.difference(set_2)
print(z) # what differece will do here the difference wil remove the common element from both the sets.

{200, 100, 300}

In [ ]:
# use of intersection
set_2 = {'apple', 'roll', 'name',400}
set_1 = {100,200,300,400}

z = set_1.intersection(set_2)
print(z)

{400}

In [ ]:
set_1 = {100,200,300,400}
set_2 = {'apple', 'roll', 'name',400}
set_1.intersection_update(set_2)
print(set_1)
print(set_2)

{400}
{'apple', 'roll', 400, 'name'}

In [ ]:
set_1 = {100,200,300,400}
set_2 = {'apple', 'roll', 'name',400}
z = set_1.difference(set_2)
print(z)

{200, 100, 300}

In [ ]:
set_1 = {100,200,300,400}
set_2 = {'apple', 'roll', 'name',400}
set_1.difference_update(set_2)
print(set_1)

{200, 100, 300}

In [ ]:
print(set_2)

{'apple', 'roll', 400, 'name'}

In [ ]:
# pattern making
'''1. tringular/ Pyramid pattern for sequence of number from 1 to 5'''

num = 6
for i in range(num):
  #row = '*' # if you want to print numbers simply remove row from there and keeo nothing
  for j in range(i):
    print(i, end =" ")
  print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
''' Inverted payramid of inverted number'''
row = 5
for i in range(row,0,-1):
  #num = i # instead of star "i" is given as a values
  for j in range(1,i+1):
    print(i, end = " ")

  print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
row = 5
b = 0
for i in range(row,0,-1):
  b += 1
  for j in range(1, i+1):
    print(b, end ="")
  print("\r")

11111
2222
333
44
5

In [ ]:
#logic to draw more than 10 pattern with a single logic for right angle triangle.
row_no = int(input("Enter the no of rows : "))

for row in range(1,row_no+1):
  for column in range(1, row+1):
    print(row, end="")# print function for printing total number of columns
  print() # for changing the row we need to write print in 1st for loop.

Enter the no of rows : 4
1
22
333
4444

In [ ]:
# reversing the above pattern

row_no = int(input("Enter the number of rows : "))

for row in range(row_no, 0, -1):
  for column in range(1,row+1):
    print(row, end = "")
  print()

Enter the number of rows : 4
4444
333
22
1

In [ ]:
row_no = int(input("Enter the no of rows :"))

for row in range(1, row_no+1):
  for column in range(1, row+1):
    print("*", end="")
  print()

for row in range(row_no-1, 0, -1):
  for column in range(1, row+1):
    print("*", end="")
  print()

Enter the no of rows :10
*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
# Print the values in order form
row_no = int(input("Enter the number"))

for row in range(1,row_no+1):
  for column in range(1, row+1):
    print(column, end="")
  print()

Enter the number4
1
12
123
1234

In [ ]:
row_no = int(input("Enter the row number"))
for row in range(row_no, 0, -1):
  for column in range(1, row+1):
    print(column, end="")
  print()

Enter the row number4
1234
123
12
1

In [ ]:
row_no = int(input("Enter the no of rows :"))

for row in range(1, row_no+1):
  for column in range(1, row+1):
    print(column, end="")
  print()

for row in range(row_no-1, 0, -1):
  for column in range(1, row+1):
    print(column, end="")
  print()

Enter the no of rows :4
1
12
123
1234
123
12
1

In [ ]:
# print patern in the form of alphabet tomorrows task. for the same pattern.

row_no = int(input("Enter the no of rows :"))
ch = 64 
for row in range(1, row_no+1):
  for column in range(1, row+1):
    print("{0}".format(chr(ch+column)), end = "")
  print()

Enter the no of rows :4
A
AB
ABC
ABCD

In [ ]:
row_no = int(input("Enter the no of rows :"))
ch = 64 
for row in range(1, row_no+1):
  ch = ch+1
  for column in range(1, row+1):
    print("{0}".format(chr(ch)), end = "")
  print()

Enter the no of rows :4
A
BB
CCC
DDDD

In [ ]:
row_no = int(input("Enter the no of rows :"))
ch = 64 
for row in range(1, row_no+1):
  for column in range(1, row+1):
    ch = ch+1
    print("{0}".format(chr(ch)), end = "")
  print()

# creat different patterns with your own

Enter the no of rows :4
A
BC
DEF
GHIJ

In [ ]:
# next pattern is

row_no = int(input("Enter the number"))

sum = 0
for i in range(1, row_no+1):
  for j in range(1, i+1):
    sum = sum+1
    print("{0}".format(sum), end = "")
  print()

Enter the number4
1
23
456
78910

In [ ]:
file_path = "/content/drive/MyDrive/Machine_Learning_AI.txt"

In [ ]:
our_text_file = open(file_path,'r')

In [ ]:
with open("/content/drive/MyDrive/Machine_Learning_AI.txt")

SyntaxError: ignored

In [ ]:
List = []
def minSumArray(arr: List[::]) -> int:
    mono_stack = [-1]
    result = 0

    for right_index, number in enumerate(arr + [0]):

        while len(mono_stack) > 1 and number < arr[mono_stack[-1]]:
            number_index = mono_stack.pop()
            left_boundary = mono_stack[-1]

            left_length = number_index - left_boundary
            right_length = right_index - number_index

            result += (left_length * right_length) * arr[number_index] * arr[number_index]

            left_idx_diff = left_length - 1
            while left_idx_diff > 0:
                result += left_idx_diff * right_length * arr[number_index - left_idx_diff] * arr[number_index]
                left_idx_diff -= 1

            right_length_diff = right_length - 1
            while right_length_diff > 0:
                result += right_length_diff * left_length * arr[number_index + right_length_diff]
                right_length_diff -= 1

        mono_stack.append(right_index)

    return result % (10 ** 9 + 7)

In [ ]:
List = [2,1,3]
print(minSumArray(List))

27

In [ ]:
arr = [2,1,3]
def kadane(arr):
  max_current = max_global= arr[0]
  for i in range(1,len(arr)-1):
    max_current = max(arr[i]), max_current+arr[i]
    if max_current>max_global:
      max_global = max_current
    return(max_global)

In [ ]:
arr = [2,1,3]
print(kadane(arr))

TypeError: ignored

In [ ]:
arr = [2,1,3]
n = len(arr)
print("max is", maxSubarrayProduct(arr,n))

TypeError: ignored

In [ ]:

  # print "r"
  
  a = [2,3,4,{12:1,'hi':7,'g':[20,40,'er']}]

  print(a[3]['g'][2][1])

r

In [ ]:
# ' '-> single quotation
# ""-> doubble quotation
# ()-> paranthese
# print()-> This will help you to print anything you want

In [ ]:
print('dennins')

dennins

In [ ]:
print("I am new to python")

I am new to python

In [ ]:
print(10)

10

In [ ]:
# type()
# len()->

In [ ]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object_or_name, bases, dict)
 |  type(object) -> the object's type
 |  type(name, bases, dict) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The most base type
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 864
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148291584
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [ ]:
# How to commect in python

# hastag -> it is used for commeting in a sinle line

In [ ]:
# Dennish is new to python
#1234567
#asdfghj

In [ ]:
"""
I
Am
new 
to python
"""

'\nI\nAm\nnew \nto python\n'

In [ ]:
# variabes-> It is nothing but contianer

x = 10
print(x)

10

In [ ]:
x = 'Dennis'
print(x)

Dennis

In [ ]:
# While giving name to any avriable we have to keep

In [ ]:
a_b = 10
print(a_b)

10

In [ ]:
# input()->It will help you to ask user to give some input

name = input("Enter your name")
print(name)

Enter your nameJoin
Join

In [ ]:
name = input("Enter your name")
age = input("Enter your age")
print(name ,age)

Enter your namedennis
Enter your age26
dennis 26

In [ ]:
# numeric data-> integer-> int()-> 0,1,2,3,4,5,6,7,999
# float-> flaot()-> any value whihc has decimal valuye inside it-> 99.99, 88.90

In [ ]:
x = 10
# if some as k you what is the data type
type(x)

int

In [ ]:
x = 10.0
type(x)

float

In [ ]:
# Text Sequence types
# Text-> String-> str()
name = 'Dennis'
x = "how are you dennis"
type(x)

str

In [ ]:
type(name)

str

In [ ]:
x = '10'
type(x)

str

In [ ]:
x = 10
type(x)

int

In [ ]:
discount = 43.8
type(discount)

float

In [ ]:
address = '#301 , Pelican street'
type(address)

str

In [ ]:
# Sequence  type

# List

list_1 = ['dennis' , 300 , 300.00]
type(list_1)

list

In [ ]:
tuple_1 = ('dennis' , 300 , 300.99)
type(tuple_1)

tuple

In [ ]:
my_favs = ['red' , 'Kebbab' , 'NY']

print(my_favs)

['red', 'Kebbab', 'NY']

In [ ]:
# range-> write values between 0 to 10-> 

range_1 = range(5)
print(type(range_1))

<class 'range'>

In [ ]:
#range(stop condition)
# range(stopping condition) range(10)-> #0 to 10-> 0,1,2,3,4,5,6,7,8,9
r

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# range(start, stopping)
for i in range(4,10):
  print(i)

4
5
6
7
8
9

In [ ]:
# range(start, stopping ,step)
for i in range(2,10, 2):
  print(i)

In [ ]:
# outer loop
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
# We are using "for loop" to iterate the multiplication 10 times       
# print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 5
The Multiplication Table of:  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
num = int(input('Enter the number'))
for count in range(1,11):
  print(num,'X', count, '=', num*count)

Enter the number10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
num = int(input('Enter the number'))
def table(num):
  for count in range(1,11):
    print(num,'X', count, '=', num*count)

Enter the number10

In [ ]:
table(10)

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
print('Hello world')

Hello world

In [ ]:
num = input("Enter any value")
def table(num):
  for count in range(1,11):
    print(num , 'X' ,count, '=', num*count)

Enter any value5

In [ ]:
table(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
table(19)

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [ ]:
num = input("Enter your name or phone")
print(num)

Enter your name or phoneRanjan
Ranjan

In [ ]:
num = input('Enter a value: ')
def table(num):
  for count in range(1,11):
    print(num, 'X', count, '=', num*count)

Enter a value: 9

In [ ]:
table(9)

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90